<a href="https://colab.research.google.com/github/Xalem19/projetoFinal_Toti/blob/main/Appointment_modifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importamos as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

# Importamos a tabela de Appointment num dataframe, pegamos o caminho do documento no ficheiro 

Appoint = pd.read_csv('/content/Appointment_python.csv')

In [ ]:
# Confirmamos as informações e o tipo de dado dentro de nossa tabela 

Appoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AppointmentID    136 non-null    int64
 1   Patient          136 non-null    int64
 2   PrepNurse        117 non-null    float64
 3   Physician        136 non-null    int64
 4   Starto           136 non-null    object
 5   Endo             136 non-null    object
 6   ExaminationRoom  136 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 7.6+ KB

In [ ]:
# Percebemos que temos dados nulos na tabela PrepNurse e pelo mesmo o tipo de dado é float.
# A coluna Starto e Endo estão como tipo de dato object. Essas colunas são do tipo DataTime.

#Vamos observar as colunas com as 5 primeiras filas, como o seguinte código: 
Appoint.head()

,AppointmentID,Patient,PrepNurse,Physician,Starto,Endo,ExaminationRoom
0,1313,100000034,103.0,2,2008-06-05 09:00:00,2008-06-05 10:00:00,C
1,2517,100000013,NaN,3,2008-06-05 12:00:00,2008-06-05 13:00:00,C
2,3241,100000013,NaN,3,2008-04-05 12:00:00,2008-04-05 13:00:00,C
3,5689,100000013,NaN,3,2008-05-05 12:00:00,2008-05-05 13:00:00,C
4,44321,100000010,102.0,1,2008-06-16 10:00:00,2008-06-16 11:00:00,B

In [ ]:
# Confirmamos a quantidade de datos nulos em nossa tabela com o seguinte código:

Appoint.isnull().sum()

AppointmentID       0
Patient             0
PrepNurse          19
Physician           0
Starto              0
Endo                0
ExaminationRoom     0
dtype: int64

In [ ]:
##Substituir os valores nulos por enfermeira de apoio '107'

Appoint.fillna('107', inplace= True)
Appoint.info()

In [ ]:
## Modificar o tipo de dato na Coluna PrepNurse
Appoint['PrepNurse']= Appoint['PrepNurse'].astype(np.int)

Vamos mudar o tipo de dado e o formato das colunas de datas

In [ ]:
## Transformando a coluna Starto em tipo Datetime
AppointData= Appoint['Starto'].astype(np.datetime64)

In [ ]:
## Agora que já modificamos o tipo, vamos a modificar o formato e o ano para 2021
## Usando a função da.strftime e digitamos a o formato que queremos
Appoint['Starto'] = AppointData.dt.strftime('%d/%m/2021 %H:%M')

In [ ]:
Appoint

,AppointmentID,Patient,PrepNurse,Physician,Starto,Endo,ExaminationRoom
0,1313,100000034,103,2,05/06/2021 09:00,05/06/2021 10:00,C
1,2517,100000013,107,3,05/06/2021 12:00,05/06/2021 13:00,C
2,3241,100000013,107,3,05/04/2021 12:00,05/04/2021 13:00,C
3,5689,100000013,107,3,05/05/2021 12:00,05/05/2021 13:00,C
4,44321,100000010,102,1,16/06/2021 10:00,16/06/2021 11:00,B
...,...,...,...,...,...,...,...
131,93662589,100000015,101,1,27/05/2021 10:00,27/05/2021 11:00,B
132,96622589,100000003,101,2,02/06/2021 13:00,02/06/2021 14:00,B
133,98388999,100000034,103,2,05/04/2021 16:00,05/04/2021 17:00,A
134,99922222,100000051,102,7,22/06/2021 08:00,22/06/2021 09:00,A
135,99999992,100000015,102,1,19/06/2021 21:00,19/06/2021 22:00,C

In [ ]:
AppointData2= Appoint['Endo'].astype(np.datetime64)

In [ ]:
Appoint['Endo']= AppointData2.dt.strftime('%d/%m/2021 %H:%M')

In [ ]:
Appoint['Endo'] = Appoint['Endo'].astype(np.datetime64)

In [ ]:
Appoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AppointmentID    136 non-null    int64
 1   Patient          136 non-null    int64
 2   PrepNurse        136 non-null    int64
 3   Physician        136 non-null    int64
 4   Starto           136 non-null    object
 5   Endo             136 non-null    object
 6   ExaminationRoom  136 non-null    object
dtypes: int64(4), object(3)
memory usage: 7.6+ KB

In [ ]:
# Agora vou exportar minha tabela tratada
Appoint.to_csv('Appoint_BI.csv')

***Modificação da consulta Departamentos***

In [ ]:
Consulta= pd.read_csv('/content/Consulta_departamentos_python.csv', encoding='latin-1')

In [ ]:
Consulta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Serviço             136 non-null    object
 1   Código do Médico    136 non-null    int64
 2   Médico              136 non-null    object
 3   Código da Consulta  136 non-null    int64
 4   Código do paciente  136 non-null    int64
 5    Enfermeira         117 non-null    float64
 6   Sala de Avaliação   136 non-null    object
 7   Data                136 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 8.6+ KB

In [ ]:
Consulta.head(6)

,Serviço,Código do Médico,Médico,Código da Consulta,Código do paciente,Enfermeira,Sala de Avaliação,Data
0,General Medicine,2,Elliot Reid,1313,100000034,103,C,05/06/2021
1,Surgery,3,Christopher Turk,2517,100000013,107,C,05/06/2021
2,Surgery,3,Christopher Turk,3241,100000013,107,C,05/04/2021
3,Surgery,3,Christopher Turk,5689,100000013,107,C,05/05/2021
4,General Medicine,1,John Dorian,44321,100000010,102,B,16/06/2021
5,Surgery,3,Christopher Turk,68945,100000033,101,A,15/06/2021

In [ ]:
##Substituir os valores nulos por enfermeira de apoio '107'

Consulta.fillna('107', inplace= True)

In [ ]:
Consulta.info()

In [ ]:
## Modificar o tipo de dato na Coluna PrepNurse
Consulta[' Enfermeira']= Consulta[' Enfermeira'].astype(np.int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
ConsultaData= Consulta['Data'].astype(np.datetime64)

In [ ]:
Consulta['Data']= ConsultaData.dt.strftime('%d/%m/2021')

In [ ]:
Consulta.to_csv('Consulta_BI.csv')